
.navbar{
 height: 3rem;
 display: flex;
 align-items: center;
 background-color: #FFFFFF;
 justify-content: space-between;
}
.image-main-logo{
  height: 3rem;
  width: auto;
  margin-left: 1rem;
}

.Desing_state{

  height: 100%;
  width: 100%;
}
.User-Login-Setting{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #5C2DC8;
   height: 1.4rem;
   width: 3.9rem;
   border-radius: 10%;
   left: 900px;
   margin-right: 1rem;
  }

  .User-Login-Setting-icon-left{
    width: 2rem;
    height: 1rem;
  
  }

  .User-Login-Setting-icon-mid{
    background-color: black;
    width: 0.07rem;

   
    height: 1.3rem;
  }


  .User-Login-Setting-icon-right{
    font-size: 12px;
    margin: 6px;
  
  }
  
  .deisgn_state_tool_box_area{
display: flex;
direction: row;
  height: 100vh;
  width: 100vw;


  }

  .Tool-Area{
    background-color:#FFFFFF;

  height: 100vh;
  width: 20vw;
  }


    .Tool-Area-side-bar{
    background-color:#CFCFCF;

  height: 100vh;
  width: 0.3vw;
  opacity: 40%;

  }

  .run-debug-area{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  background-color: #C8C8C8;
    height: 20vh;
  width: 20vw;
  background-color: rgba(200, 200, 200, 0.28);
  

  }


  .button-run{
    display: flex;
    border: 2px solid #0ED042;
    color: #085f0c;
    border-radius: 9px;
    height: 2.5rem;
   width: 11vh;
    align-items: center;
    justify-content: center;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;

  }

    .button-Debug{
    display: flex;
    border: 2px solid #2246e7;
    color: #180d53;
    border-radius: 9px;
    height: 2.5rem;
    width: 11vh;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  }


    .button-stop{
    display: flex;
    border: 2px solid red;
    color: #490505;
    border-radius: 9px;
    height: 2.5rem;
    width: 11vh;
    align-items: center;
    justify-content: center;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;

  }


  .txt-tool-area{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: 10px;

    color: black;
    font-weight: bold;
    font-size: 16px;
      font-weight: 700;
  font-family: 'Roboto Mono', monospace;

  }
.dragable-controle-area{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
overflow:scroll;
height: 55vh;
  overflow-y: scroll;       
  scrollbar-width: none; 


}
.drag_able_card{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  width: 6vw;
  height: 11.5vh;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  margin: 1.5%;
 }
 .drag_able_card-img{
  width: 3.2vw;
  margin: 0%;
  padding: 0%;
  border-radius: 10%;

 }
  .drag_able_card-title{
  margin: 5px 0 0 0;
  padding: 0%;
  font-size: 13px;
  color: black;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
 }

 .play-ground_area_design{

  width: 100%;
  height: 100%;
  z-index: 1;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;

 
}
 .trigger{
  display: flex;
  justify-self: center;
  flex-direction: column;

  margin: 10px 0 0 0;
  width: 90vh;
  height: 15vh;
  background-color: #ffff;
  border:1px solid black;
  margin-top: 5vh;
  color: black;
  text-align: center;
  border-radius: 5px
 }

 .trigger-navbar{
  display: flex;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
   font-weight: 700;
  font-family: 'Roboto Mono', monospace;
 }

 .trigger-input_area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 25%;
   border:1px solid black;
    font-weight: 500;
  font-family: 'Roboto Mono', monospace;
    border-radius: 5px
 }
.open_url-img{
  width: 1.5vw;
}

.open_url-input_area{
  display: flex;
  flex-direction: row;
      font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;

  font-size: 14px;

}
.red-area{
  color: red;
}

.open_url_input{
background-color: transparent;
color: black;
border-radius: 5px;
height: 3vh;
margin: 0%;
padding: 0%;
width: 19vw;

}